body{
    text-align: center;
    background-color: rgb(32, 32, 32);
}

h1{
    font-size: 4em;
    font-family: verdana;
    color: lightgreen;
    border: 1px solid ;
    border-radius: 10px;
}

.bt{

    padding: 3% 15%;
    font-family: verdana;
    background-color: rgb(105, 105, 105);
    color: rgb(0, 17, 255);
    opacity: 70%;
    font-size: xx-large;
}
.bt:hover{
    cursor: pointer;
    background-color: antiquewhite;
    font-weight: 1000;
}