body {
    text-align: center;
    background-color: #131313;
}

#entete {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#facebook {
    text-align: left;
    color: rgb(4, 0, 255);
    font-size: xx-large;
    font-family: verdana;
    font-weight: bold;
}

#entete p {
    font-size: xx-small;
    margin: 0%;
    padding: 0%;
    color: rgb(107, 107, 107);
    font-weight: 100;
}

/* pour la 2è span */
#entete span:nth-child(2) {
    display: flex;
    width: 20%;
    height: 0%;
    justify-content: space-around;
}

#entete li {
    border: beige;
    background-color: rgb(39, 39, 39);
    padding: 2px 5px;
    border-radius: 50%;
}

#entete a {
    filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(82%) contrast(78%);
}


#entete2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 0%;
    padding-top: 8px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(185, 182, 182);
    border-width: 20%;
}


/* atao rchrche am google "color picker" 
=> entina ani amin'ny "css filter generator from black" ni couleur ciblé  hexadécimal
=> de mahazo propriété CSS "filter"  */
#entete2 li a.active {
    filter: invert(10%) sepia(100%) saturate(7356%) hue-rotate(247deg) brightness(87%) contrast(132%);
}


/* inserer du text apès le selecteur */
#entete2 li a.active::after {
    background-color: black;
    height: 5px;
    width: 300%;
    content: '';
    position: absolute;
    bottom: -100%;
    right: -100%;


}

#entete2 a {
    filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(82%) contrast(78%);
}

#story {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.imgstory {
    width: 160px;
    height: 240px;
    margin: 5px 3px;
    border: #252525;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .4s ease-in;
}

.pdp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 5%;

}